<footer>
  <div class="container">
    <h3>Company</h3>
    <p>About Us</p>
    <p>Service</p>
    <p>Case Studies</p>
    <p>Blog</p>
    <p>Contact Us</p>
  </div>
  <div class="container">
    <h3>Support</h3>
    <p>Community</p>
    <p>Resources</p>
    <p>FAQs</p>
    <p>Privacy Policy</p>
    <p>Careers</p>
  </div>
  <div class="container">
    <h3>Get in Touch</h3>
    <p>support@BMStore.com</p>
    <p>+(642) 342 762 44</p>
    <p>442 Belle Terre St Floor 7</p>
    <p>bmstore1@gmail.com</p>
    <p>bmstore2@outlook.com</p>
  </div>
</footer>
