* {
  background-image: url("../../assets/360_F_320643538_XsXqV2knMHy3JlnXzXnAzFRL4pxM9wvW.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
